<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peudo Travel Systems</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" >
      <div class="container-fluid">
        <a href="/menu" class="navbar-brand">
          <img  class="img-fluid rounded float-start" id="headerLogo" src="/images/svg/logo-no-background.svg" alt="Peudo Travel">
        </a>
        
        <button 
          class="navbar-toggler"
          type="button" 
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
          >
          <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto align-middle">
            <li class="nav-item">
              <a href="/menu" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/hotels" class="nav-link">Hotel Stays</a>
            </li>
            <li class="nav-item">
              <a href="/receipts" class="nav-link">Receipts</a>
            </li>
            <li class="nav-item">
              <a href="/support" class="nav-link">Support</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- Navbar    -->
    <nav class="relative bg-veryDarkBlue mx-auto p-6">
      <!-- flex container -->
      <div class="flex items-center justify-between">
          <div class="pt-2">
              <img id="headerLogo" class="pl-8 h-16 pb-2" src="/images/svg/logo-no-background.svg" alt="logo">
          </div>
          <!-- menu items -->
          <div class=" hidden md:flex space-x-8 font-bold text-2xl">
              <a href="/menu" class="hover:text-darkGrayishBlue">Home</a>
              <a href="/hotels" class="hover:text-darkGrayishBlue">Hotels</a>
              <a href="/receipts" class="hover:text-darkGrayishBlue">Receipts</a>
              <a href="/support" class="hover:text-darkGrayishBlue">Support</a>
              
          </div>
          <div class="pr-8">
          <!-- button -->
          <a href="/logout" class="hidden md:block p-3 mx-6 pt-2 text-white bg-secondBlue rounded-full baseline hover:bg-white hover:text-secondBlue">Logout</a>
          </div>

          <!-- Hamburger icon -->
          <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
              <span class="hamburger-top"></span>
              <span class="hamburger-middle"></span>
              <span class="hamburger-bottom"></span>
          </button>
      </div>

      <!-- mobile menu -->
      <div class="md:hidden">
          <div id="menu" class="absolute flex-col hidden items-center self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
              <a href="/menu">Home</a>
              <a href="/hotels">Hotels</a>
              <a href="/receipts">Receipts</a>
              <a href="/support">Support</a>
              <a href="/logout">Logout</a>
          </div>
      </div>
    </nav>