@tailwind base;
@tailwind components;
@tailwind utilities;

/* hamburger menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    color:white;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
    background-color:white;
}


.hamburger-middle{
    transform: translateY(7px);
    color:white;
}

.hamburger-bottom{
    transform: translateY(14px);
    color:white;
}
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
    color:white;
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
    color:white;
}

.open .hamburger-middle{
    display: none;
    color:white;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
    color:white;
}