<%- include('partials/header') -%>
<section >
    <div class="container flex flex-col items-center justify-center mx-auto pt-28 pb-28 ">
        <img  class="h-80 " id="travelLogo" src="/images/svg/logo-no-background.svg" alt="Peudo Travel">
        <div class="pt-6 pb-3" >
            <a class="p-6 mx-4 px-8 text-white bg-secondBlue rounded-full baseline hover:bg-white hover:text-secondBlue" href="/login"> Login</a>
            <a class="p-6 mx-4 px-8 text-white bg-secondBlue rounded-full baseline hover:bg-white hover:text-secondBlue" href="/signup"> Signup</a>
            
        </div>

    </div>
</section>
<%- include('partials/footer') -%>