<%- include('partials/header') -%>
<section>
  <div
    class="container flex flex-col items-center justify-center mx-auto pt-28 pb-28"
  >
    <img
      class="h-80"
      id="travelLogo"
      src="/images/svg/logo-no-background.svg"
      alt="Peudo Travel"
    />
    <div class="p-3 m-3">
      <p>
        Welcome to Puedo Travel, The premium receipt tracking tool for
        businesses. We help track employees travel so you don't have to. You can
        log hotel stays and submit receipts for manager approval directly from
        our app. Try out for free with a test account now!
      </p>
    </div>
    <div class="pt-6 pb-3">
      <a
        class="p-6 mx-4 px-8 text-white bg-secondBlue rounded-full baseline hover:bg-veryDarkBlue hover:text-white"
        href="/login"
      >
        Login</a
      >
      <a
        class="p-6 mx-4 px-8 text-white bg-secondBlue rounded-full baseline hover:bg-veryDarkBlue hover:text-white"
        href="/signup"
      >
        Signup</a
      >
    </div>
  </div>
</section>
<%- include('partials/footer') -%>
