<%- include('partials/header') -%>
<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-4">
        <img  class="img-fluid rounded float-start" id="travelLogo" src="/images/svg/logo-no-background.svg" alt="Peudo Travel">
        <button><a href="/login"> Login</a></button>
        <button><a href="/signup"> Signup</a></button>
    </div>
</div>
<%- include('partials/footer') -%>