<%- include('partials/header') -%>
<div class="container d-flex justify-content-center" id="loginBox">
    <div class="card" style="width: 18rem">
        <img  class="card-img-top" id="travelLogo" src="/images/svg/logo-no-background.svg" alt="Peudo Travel">
        <div class="btn-group-vertical" role="group" >
            <button type="button" class="btn btn-outline-primary"><a href="/login"> Login</a></button>
            <button type="button" class="btn btn-outline-secondary"><a href="/signup"> Signup</a></button>
            <h2>ALPHA BUILD</h2>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>