<%- include('partials/header') -%>
<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-4">
        <h1>Puedo Travel Systems</h1>
        <button><a href="/login"> Login</a></button>
        <a href="/signup"> Signup</a>
    </div>
</div>
<%- include('partials/footer') -%>