<%- include('partials/header') -%>
<section>
  <div
    class="container flex flex-grow flex-col items-center justify-center mx-auto pt-12 mt-12"
  >
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
    el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %>
    <div class="font-bold text-lg space-y-6">
      <h2>Login using your email and password</h2>
      <form action="/login" class="flex flex-col md:flex-row" method="POST">
        <label class=" ">
          <span>Email</span>
          <input
            type="email"
            name="email"
            placeholder="email"
            class="mx-2 border border-veryDarkBlue invalid:border-red-500"
          />
        </label>

        <label class="">
          <span>Password</span>
          <input
            type="password"
            name="password"
            placeholder="password"
            class="mx-2 border border-veryDarkBlue"
          />
        </label>
        <input
          class="mx-2 px-4 py-2 text-white rounded-full bg-secondBlue hover:bg-veryDarkBlue hover:text-secondBlue focus:outline-none invalid:border-red-500"
          type="submit"
        />
      </form>
    </div>
  </div>
</section>
<%- include('partials/footer') -%>
