<%- include('partials/header') -%>
<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-4">
        <button><a href="/receipt">Log hotel stays</a></button>
        <button><a href="/receipt">Log receipts</a></button>
        <button><a href="/receipt">Log claim notes</a></button>
    </div>
</div>
<%- include('partials/footer') -%>