<%- include('partials/header') -%>
    <div class="container">
        <h3>Need Help? Click here to email support</h3>
        <button type="button" class="btn btn-info">Email Support</button>
    </div>
<%- include('partials/footer') -%>